{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все Новости</h1>
   <h3>{% current_time '%b %d %Y' %}</h3>
   <form action="" method="get">
          {{ filterset.form.as_p }}
          <input type="submit" value="Найти" />
   </form>

   <hr>

    {% if perms.basis.add_news %}
    <a href="{% url 'post_create' %}">Добавить пост</a>
    {% endif %}

   {% if posts %}
       <table>
           <tr>
               <td>Название</td>
               <td>Дата публикации</td>
               <td>Новость</td>
           </tr>

                {% if perms.basis.change_post or perms.basis.delete_post %}
                <td>Действия</td>
                {% endif %}

           {% for post in posts %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.text|truncatechars:2o }}</td>
               <td>{{ add_time|date: 'M d Y' }}</td>
           </tr>
           {% endfor %}

           {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.basis.change_post %}
                    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.basis.delete_post %}
                    <a href="{% url 'post_delete' post.id %}">Удалить</a>
                    {% endif %}
                </td>
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}